<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
    <head>
        <title th:text="${header}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .error {
                color: crimson;
                animation: show 1s;
                transform: translateY(5px);
            }
            
            @keyframes show {
                from {
                    opacity: 0;
                    transform: translateY(-10px);
                }
                to {
                    opacity: 1;
                    transform: translateY(5px);
                }
            }
        </style>
    </head>
    <body>
        <section layout:fragment="content">
            <h1 th:text="${header}"></h1>
            <form th:action="${action}" method="POST" th:object="${offer}" class="form-horizontal">
    <div class="form-group">
    <label class="col-sm-2 control-label">Tytuł:</label>
    <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{title}')?'has-error':''}">
        <input type="text" th:field="*{title}" class="form-control"/>
        <p class="error" th:if="${#fields.hasErrors('*{title}')}" th:text="|Długość tytułu musi mieścić się w zakresie 5-255 znaków!|"></p>
    </div>
</div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Rocznik:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{year}')?'has-error':''}">
            <input type="number" th:field="*{year}" class="form-control"/>
            <p class="error" th:if="${#fields.hasErrors('*{year}')}" th:text="|Rok produkcji musi wynosić przynajmniej 1900!|"></p>
        </div>
        <label class="col-sm-2 control-label">Przebieg:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{mileage}')?'has-error':''}">
            <input type="number" th:field="*{mileage}"  class="form-control"/>
            <p class="error" th:if="${#fields.hasErrors('*{mileage}')}" th:text="|Wartość przebiegu nie może być ujemna!|"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Pojemność silnika:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{engineSize}')?'has-error':''}">
            <input type="number" th:field="*{engineSize}" step="0.1" class="form-control"/>
            <p class="error" th:if="${#fields.hasErrors('*{engineSize}')}" th:text="|Pojemność silnika nie moze być ujemna!|"></p>
        </div>
        <label class="col-sm-2 control-label">Moc silnika:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{enginePower}')?'has-error':''}">
            <input type="number" th:field="*{enginePower}" class="form-control"/>
          <p class="error" th:if="${#fields.hasErrors('*{enginePower}')}" th:text="|Moc silnika musi mieć wartość dodatnią|"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Liczba drzwi:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{doors}')?'has-error':''}">
            <input type="number" th:field="*{doors}" class="form-control"/>
            <p class="error" th:if="${#fields.hasErrors('*{doors}')}" th:text="|Liczba drzwi musi się mieścić w zakresie 1-5!|"></p>
        </div>
        <label class="col-sm-2 control-label">Kolor:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{colour}')?'has-error':''}">
            <input type="text" th:field="*{colour}" class="form-control"/>
            <p class="error" th:if="${#fields.hasErrors('*{colour}')}" th:text="|Długość znaków musi mieścić się w przedziale 3-30 znaków!|"></p>
           
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Model:</label>
        <div class="col-sm-10">
            <select th:field="*{model.id}" class="form-control">
                <option th:each="cm : ${carModels}" th:value="${cm.id}" th:text="|${cm.manufacturer.name} ${cm.name}|"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nadwozie:</label>
        <div class="col-sm-4">
            <select th:field="*{bodyStyle.id}" class="form-control">
                <option th:each="bs : ${bodyStyles}" th:value="${bs.id}" th:text="${bs.name}"></option>
            </select>
        </div>
        <label class="col-sm-2 control-label">Rodzaj paliwa:</label>
        <div class="col-sm-4">
            <select th:field="*{fuelType.id}" class="form-control">
                <option th:each="fu : ${fuelTypes}" th:value="${fu.id}" th:text="${fu.name}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Cena:</label>
        <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{price}')?'has-error':''}">
            <input type="number" th:field="*{price}" class="form-control"/>
            <p class="error" th:if="${#fields.hasErrors('*{price}')}" th:text="|Cena nie może być ujemna!|"></p>          
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Opis:</label>
        <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{description}')?'has-error':''}">
            <textarea class="form-control" th:field="*{description}" rows="5"/></textarea>
            <p class="error" th:if="${#fields.hasErrors('*{description}')}" th:text="|Długość znaków musi mieścić się w przedziale 5-65535 znaków|"></p>  
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="submit" value="Zapisz" class="form-control btn btn-primary"/>
            <input type="hidden" th:field="*{id}" />
        </div>
        <div class="col-sm-4">
            <a href="/" class="btn btn-default">Anuluj</a>
        </div>
    </div>
</form>    
        </section>
    </body>
</html>